doctype html
html(lang="ru-RU")
  head
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto" rel="stylesheet")
  body
    main
      article.goods-item
        a.goods-item__image(href="#")
          .goods-item__articul marimay
          img(src="img/item.jpg" height="190")
        h4.goods-item__heading Блузка женская однотонная 
        a.goods-item__price(href="#") от 499.00 руб./шт.
        a.goods-item__button(href="#") подробнее
        